@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Manrope&family=Nosifer&family=Open+Sans&family=Oswald:wght@500&family=Raleway:wght@100;300;400;500;600;700;800;900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Manrope&family=Nosifer&family=Open+Sans&family=Oswald:wght@500&family=Raleway:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    cursor: pointer;
}

a{
    cursor: pointer;
}


#birinci-1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4) , rgba(0,0,0,0.8)), url('netflix1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 8px solid #222222;
}

nav{   
    height: 80px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
}

/* nav .container .nav-h2{
    color: #e50914;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
} */

.container .logo{
    width: 160px;
    padding-top: 20px;
}

.container .nav-a{
    display: flex;
}

.container .nav-a a{
    padding: 8px 20px;
}

.container .nav-a .dil-a{
    background-color: black;
    color: #fff;
    text-decoration: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 8px 10px;
    border-radius: 3px;
}

.container .nav-a .dil-a .fa-globe{
    font-size: 13px;
    padding-right: 5px;
    padding-top: 4px;
}

.container .nav-a .dil-a .fa-sort-down{
    padding-left: 5px;
    font-size: 14px;
}

.container .nav-a .dil-2{
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    display: flex;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 3px;
    margin-left: 30px;
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 35px;
}

.birinci-main{
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    z-index: 1;
    /* margin-top: 140px; */
    /* padding: 140px 0; */
}

header .header-h2{
    color: #fff;
    max-width: 640px;
    font-size: 3.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

header .header-h4{
    color: #fff;
    font-size: 1.625rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;    
    font-weight: 500;
    padding: 16px 16px;
}

header .header-p{
    color: #fff;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;    
    font-weight: 500;
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px;
    margin: 0 16px;
    padding: 0 47px 20px;
    padding-top: 10px;
}

header .input-1{
    display: flex;
    max-width: 950px;
}

header .input-1 input{
    width: 480px;
    height: 70px;
    padding: 10px 10px 0;
    font-size: 16px;
    border-radius: 4px;
}

.input-1 .input-basla{
    background-color: #e50914;
    padding: 0 40px;
    border-left: 1px solid #333;
    font-size: 1.625rem;
    min-height: 60px;
    color: #fff;
    align-items: center;
    display: inline-flex;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.input-1 .input-basla i{
    font-size: 24px;
    padding-top: 8px;
    padding-left: 11px;
}

.ikinci-main{
    width: 100%;
}

.ikinci-main .ikinci-section{
    width: 100%;
    padding: 70px 180px;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 8px solid #222222;
}

.ikinci-section .ikinci-h1-h2{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.ikinci-section .ikinci-h1-h2 .ikinci-section-h1{
    color: #fff;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.ikinci-section .ikinci-h1-h2 .ikinci-section-h2{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;    
    font-weight: 400;
    font-size: 1.625rem;
}


.ikinci-section .ikinci-resim{
    width: 455px;
    height: 341px;
}

.ikinci-main .ikinci-2{
    flex-direction: row-reverse;
    padding: 70px 180px;
}

.sss-1{
    width: 100%;
    text-align: center;
    padding: 70px 45px;
    background-color: #000000;
    border-bottom: 8px solid #222222;
}

.sss-1 .ikinci-section-h1{
    color: #fff;
    font-size: 3.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.sss-1 .sss-ul{
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sss-1 .sss-ul .sss-li{
    color: #fff;
    background-color: #303030;
    padding: 20px 30px;
    margin: 5px 0;
    display: block;
    font-size: 26px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    height: 75px;
    display: flex;
    justify-content: space-between;
    width: 815px;
}

.sss-1 .input-1 .header-p{
    color: #fff;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;    
    font-weight: 500;
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px;
    margin: 0 16px;
    padding: 0 47px 20px;
    padding-top: 10px;
}

.ikinci-section-h1 .input-1{
    display: flex;
    max-width: 950px;
}

.sss-1 .input-1 input{
    width: 480px;
    height: 70px;
    padding: 10px 10px 0;
    font-size: 16px;
    border-radius: 4px;
}

.sss-1 .input-basla{
    background-color: #e50914;
    padding: 0 40px;
    border-left: 1px solid #333;
    font-size: 1.625rem;
    min-height: 67px;
    color: #fff;
    align-items: center;
    display: inline-flex;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 500;
    border-radius: 2px;
}

/* .footer{
    width: 100%;
    background-color: #000000;
    margin: 0 50px;
}

.footer-1{
    background-color: #000000;
    color: #fff; 
    padding: 70px 45px 0;
}

.footer-1 ul{
    
   
} */





























































@media only screen and (max-width: 900px) {
    /* Mobil ekranlar için stil kuralları */
   #birinci{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4) , rgba(0,0,0,0.8)), url('netflix1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 8px solid #222222;
   }

   nav{
    height: 120px;
   }

   .ikinci-2 .container .logo{
    width: 120px;
    margin-bottom: 20px;
   }

   .ikinci-2 .container{
    flex-direction: column;
    display: flex;
   }

   .birinici-main header{
    padding: 10px 5px;
   }

   .birinici-main header .header-h2{
       font-size: 40px;
    }

    .birinici-main header .header-p{
        font-size: 15px;
    }

    .birinici-main header .input-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .birinici-main header .input-1 input{
        width: 350px;
        height: 50px;
        margin-bottom: 5px;
    }

    .birinici-main header .input-1 .input-basla{
        width: 180px;
        font-size: 20px;
        min-height: 45px;
    }

    .ikinci-main .ikinci-section{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .ikinci-main .ikinci-section .ikinci-h1-h2 .ikinci-section-h1{
        font-size: 35px;
        text-align: center;
        margin-top: 15px;
    }

    .ikinci-main .ikinci-section .ikinci-h1-h2 .ikinci-section-h2{
        font-size: 20px;
        text-align: center;
        padding: 5px 10px;
    }

    .ikinci-main .ikinci-section .ikinci-resim{
        padding: 0 5px;
        margin-bottom: 5px;
    }

    .sss-1{
        padding: 20px 20px;
    }

    .sss-1 .ikinci-section-h1{
        font-size: 30px;
    }

    .sss-1 .sss-ul .sss-li{
        width: 100%;
        height: 50px;
        font-size: 15px;
        font-weight: 700;
        align-items: center;
        padding: 0 15px;
    }

    .sss-1 .input-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sss-1 .input-1 .header-p{
        font-size: 15px;
    }

    .sss-1 .input-1 input{
        width: 350px;
        height: 50px;
        margin-bottom: 5px;
    }

    .sss-1 .input-1 .input-basla{
        width: 180px;
        font-size: 20px;
        min-height: 45px;
    }

    /* width: 100%;
    padding: 70px 180px;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 8px solid #222222; */

   html,body{
    overflow-x: hidden;
   }

}
